@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* CSS Reset */
html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}
/* CSS Reset */

.plan {
    background-color: #FF764E;
    font-family: 'Roboto Mono';
    font-size: x-large;
    text-align: center;
    color: white;
    border: none;
    border-radius: 20px;
    padding: .5% 2%;
    margin: 4% 8% 4% 14%;
}

.learn {
    background-color: #5ED3EB;
    font-family: 'Roboto Mono';
    font-size: x-large;
    text-align: center;
    color: white;
    border: none;
    border-radius: 20px;
    padding: .5% 2%;
    margin: 4% 8%;
}

.involve {
    background-color: #FFCD69;
    font-family: 'Roboto Mono';
    font-size: x-large;
    text-align: center;
    color: white;
    border: none;
    border-radius: 20px;
    padding: .5% 2%;
    margin: 4% 8%;
}

.image1 {
   border-radius: 50%;
   width: 25%;
   height: auto;
}

.boxWithin{
    padding: 0% 0% 50% 0%;
}

h1 {
    font-family: 'Chelsea Market';
    font-size: 450%;
    padding: 0% 0% 0% 38%;
}

.comeExplore{
    font-family: 'Roboto Mono';
    font-size: 150%;
    text-align: center;
    padding: 2% 0% 2% 28%;
}

.alwaysOpen{
    font-family: 'Roboto Mono';
    font-size: 150%;
    text-align: center;
    padding: 0% 25% 4% 50%;
}

p{
    background-color: #DDB9A3;
    color: white;
    font-family: 'Roboto Mono';
    text-align: center;
    font-size: 150%;
    margin: 0% 4%;
    padding: 1.5% 2.5%;
}

.fire{
    width: 10%;
    height: auto;
    margin: 2% 45% 0% 45%;
}

.fireLine{
    background-color: white;
    color: black;
    font-family: 'Roboto Mono';
    text-align: center;
    font-size: 100%;
    margin: 1% 0% 5% 0%;
    padding: 0% 42%;
}

.bus{
    width: 10%;
    height: auto;
    margin: 0% 45%;
}

.busLine{
    background-color: white;
    color: black;
    font-family: 'Roboto Mono';
    text-align: center;
    font-size: 100%;
    margin: 1% 0% 5% 0%;
    padding: 0% 42%;
}

span{
    font-weight: bolder;
}



footer{
    background-color: #F9E7DC;
}